<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.webServer>
    <rewrite>
      <rules>
        <!--
        Notice that enabling the following redirections to enforce HTTPS, requires that the IIS site has a https binding with its associated certificate.
        Please be aware that the default Sitecore images do not have such HTTPS binding supporting HTTPS.
        
        <rule name="Root Hit Force HTTPS Redirection" enabled="true" stopProcessing="true" xdt:Transform="Insert" xdt:Locator="Match(name)" >
          <match url="^$" ignoreCase="false"/>
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$"/>
            <add input="{HTTP_METHOD}" pattern="GET"/>
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/" redirectType="Permanent"/>
        </rule>
        <rule name="Sitecore Login or Admin Force HTTPS Redirection" enabled="true" stopProcessing="true" xdt:Transform="Insert" xdt:Locator="Match(name)" >
          <match url="^(sitecore/(login|admin))$"/>
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$"/>
            <add input="{HTTP_METHOD}" pattern="GET"/>
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent"/>
        </rule>
        <rule name="Forbidden" enabled="true" stopProcessing="true" xdt:Transform="Insert" xdt:Locator="Match(name)" >
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$"/>
            <add input="{HTTP_METHOD}" pattern="GET"/>
          </conditions>
          <action type="CustomResponse" statusCode="403" subStatusCode="0"/>
        </rule>-->
      </rules>
    </rewrite>
  </system.webServer>
  
  <system.web>
    <compilation debug="true" xdt:Transform="SetAttributes" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>