<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add key="role:define" value="ContentDelivery" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="Telerik.AsyncUpload.ConfigurationEncryptionKey" xdt:Transform="Remove" xdt:Locator="Match(key)" />
    <add key="Telerik.Upload.ConfigurationHashKey" xdt:Transform="Remove" xdt:Locator="Match(key)" />
    <add key="Telerik.Web.UI.DialogParametersEncryptionKey" xdt:Transform="Remove" xdt:Locator="Match(key)" />

  </appSettings>

  <system.webServer>
    
    <modules>
      <add type="Sitecore.Analytics.RobotDetection.Media.MediaRequestSessionModule, Sitecore.Analytics.RobotDetection" name="MediaRequestSessionModule" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </modules>

    <handlers>
      <add name="Telerik_Web_UI_DialogHandler_aspx" xdt:Transform="Remove" xdt:Locator="Match(name)" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" xdt:Transform="Remove" xdt:Locator="Match(name)" />
      <add name="Telerik_Web_UI_WebResource_axd" xdt:Transform="Remove" xdt:Locator="Match(name)" />
    </handlers>

    <rewrite xdt:Transform="Remove" />

  </system.webServer>

  <!--
  The following transformations provide the authentication settings specific for a Content Delivery server
  -->
  <location path="sitecore/shell" xdt:Transform="Remove" xdt:Locator="Match(path)" />
  <location path="sitecore/admin" xdt:Transform="Remove" xdt:Locator="Match(path)" />
  <location path="sitecore/shell/Themes/Standard" xdt:Transform="Remove" xdt:Locator="Match(path)" />
  <location path="sitecore/shell/controls/Lib" xdt:Transform="Remove" xdt:Locator="Match(path)" />
  <location path="sitecore/shell/client/Speak" xdt:Transform="Remove" xdt:Locator="Match(path)" />

    <location path="sitecore" xdt:Transform="InsertBefore(/configuration/location[@path='App_Config'])" xdt:Locator="Match(path)" >
    <system.web>
      <authorization>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="sitecore/api" xdt:Transform="InsertBefore(/configuration/location[@path='App_Config'])" xdt:Locator="Match(path)" >
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="sitecore/service" xdt:Transform="InsertBefore(/configuration/location[@path='App_Config'])" xdt:Locator="Match(path)" >
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="sitecore/shell/themes" xdt:Transform="InsertBefore(/configuration/location[@path='App_Config'])" xdt:Locator="Match(path)" >
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  
  <system.web>
    <!--<compilation xdt:Transform="RemoveAttributes(debug)" />-->
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    <customErrors mode="RemoteOnly" xdt:Transform="SetAttributes" />

    <authentication mode="None" xdt:Transform="SetAttributes" >
      <forms xdt:Transform="RemoveAttributes(loginUrl)" />
    </authentication>

  </system.web>
</configuration>